.connexionForm__wrapper {
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.541);
}
.connexionForm__form {
  z-index: 10;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  padding: 2vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--currentBackground);
}
.connexionForm__input {
  margin: 2vw 0;
}
.connexionForm__button {
  font-family: caviar;
  padding: 1vw;
  color: var(--currentColor);
  border: 2px solid var(--currentColor);
  border-radius: 1vw;
}
.connexionForm__button:hover {
  color: var(--secondColor);
  background-color: var(--secondBackground);
}
