.editAbout__button {
  font-family: caviar;
  font-size: 1.5vw;
  color: var(--currentColor);
  border: solid 2px var(--currentColor);
  border-radius: 1vw;
  cursor: pointer;
  padding: 1vw;
  margin-top: 3vw;
}
.editAbout__button:hover {
  background-color: var(--secondBackground);
  color: var(--secondColor);
  border-color: var(--secondColor);
}

.edit__about__wrapper {
  background-color: var(--secondBackground);
  opacity: 0.95;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10vw;
  z-index: 9;
}
.edit__about__form {
  background-color: var(--currentBackground);
  padding: 2vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}
.edit__about__form__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.edit__about__form__text-area {
  height: 35vh;
  width: 100%;
  font-family: "SF UI";
  color: var(--secondColor);
  background-color: var(--secondBackground);
  border-radius: 0.5vw;
}
