#about {
	display: grid;
	grid-template-columns: 45fr 55fr;
	grid-gap: 3vw;
	width: 100%;
	padding-top: 7vw;
}
#about h1{
	font-family: "caviar";
	font-size: 4vw;
	height: fit-content;
	text-align: center;
	margin-bottom: 4vw;
}
.about__figure {
	display: flex;
	height: fit-content;
	justify-content: space-around;
	margin: 2vw;
}
.about__profilepicture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 10px solid var(--secondBackground);
	border-bottom: 5px solid var(--secondBackground);
	background-color: var(--currentColor);
	margin-right: 10px;
}
.about__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "modak";
	font-size: 4vw;
	text-align: center;
}
.about__description {
	padding: 0.5rem;
	margin-left: auto;
	border-radius: 0.4rem;
	color: var(--secondBackground);
	font-size: 3vw;
	grid-column: 2;
}
.about__description__p strong {
	color: var(--currentColor);
}
.about__description__p {
	margin-bottom: 1rem;
}

.about__description ::selection {
	color: var(--secondColor);
	background: var(--secondBackground);
}

p.about__description__p ::selection {
	color: var(--secondBackground);
	background-color: var(--secondColor);
}


@media screen and (max-width:700px) {
	#about{
		grid-template-columns: 100%;
		margin-top: 3vw;
	}
	.about__description{grid-column: 1;}
	
}
@media screen and (max-width:500px){
	.about__profilepicture{
		width: 100px;
		height: 100px;
	}
}