.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  height: 5vw;
  padding-right: 10vw;
  background-color: var(--currentBackground);
  box-shadow: 0 0 10px var(--secondBackground);
  z-index: 5;
}

.navigation__list {
  font-family: "caviar";
  border-bottom: 2px solid var(--secondColor);
  width: 40vw;
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.1vw;
  margin-bottom: 1vw;
  font-size: 2.5vw;
}
