.project-card__wrapper {
	perspective: 5000px;
}
.project-card {
	position: relative;
	transform-style: preserve-3d;
	aspect-ratio: 540/360;
	width: 35vw;
	max-width: 544px;
	border-radius: 5px;
	transition: transform 0.8s 0.5s, box-shadow 1s;
	font-size: 1.5vw;
}
.project-card__wrapper:nth-child(even):hover .project-card {
	box-shadow: 0px 1px 10px 1px var(--secondBackground);
	transform: rotateY(180deg);
}
.project-card__wrapper:nth-child(odd):hover .project-card {
	box-shadow: 0px 1px 10px 1px var(--secondBackground);
	transform: rotateY(-180deg);
}

.project-card__img,
.project-card__content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 5px;
	backface-visibility: hidden;
}

.project-card__content {
	transform: rotateY(-180deg);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.project-card__title {
	color: var(--secondBackground);
	font-family: "caviar";
	margin: 1vw;
}
.project-card__description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.project-card__description p{
	margin: .5rem;
}
.project-card__tag__container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@media screen and (max-width:1000px){
	.project-card{
		width: 40vw;
	}
}
@media screen and (max-width:700px){
	.project-card{
		width: 80vw;
		font-size: 2.5vw;
	}
}
