.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10vw 0;
}
.form h2{
    font-family: "modak";
	font-size: 4vw;
}
.form__label{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form__input{
    margin: .5rem 0;
    padding: .5rem;
    color: var(--currentColor);
    background: var(--currentBackground);
    border: 2px solid var(--currentColor);
    border-radius: 5px;
    display: flex;
    width: 100%;
    max-width: 100%;
    font-family: "SF UI";
}
.form__input:valid{
    color: var(--secondColor);
    background: var(--secondBackground);
    border: none;
}
.form__input:focus{
    outline: 3px solid var(--secondBackground);
    border: none;
}
.form__input__count{
    align-self: flex-start;
    color: var(--secondColor);
    font-size:1vw ;
}

.form__button{
    padding: .3rem .5rem;
    color: var(--currentColor);
    background: var(--currentBackground);
    border: 2px solid var(--currentColor);
    border-radius: 5px;
    width: fit-content;
    align-self: center;
}
.form:valid .form__button{
    color: var(--secondColor);
    background: var(--secondBackground);
    border: none;
    cursor: pointer;
}

