.edit__form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}

.edit__form__back {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  cursor: pointer;
}
.edit__form__buttons__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 650px) {
  .edit__form {
    font-size: 2.5vw;
  }
}
