.edit__about__mode__button {
  font-size: 1.5vw;
  color: var(--thirdColor);
  background-color: var(--fourthColor);
  padding: 0.3vw 0.8vw;
  border-radius: 2vw;
  border: solid 0.2vw var(--firstColor);
  margin-bottom: 2vw;

  margin-left: 10vw;
  cursor: pointer;
}
.edit__about__mode__button:hover {
  box-shadow: 0 0 6vw var(--fourthColor);
}
