.project__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 5vw;
}
.project__form h2 {
  font-family: "modak";
  font-size: 4vw;
}
.project__form__label {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.project__form__input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: var(--firstColor);
  background: var(--secondColor);
  border: 2px solid var(--firstColor);
  border-radius: 5px;
  display: flex;
  width: 100%;
  max-width: 100%;
  font-family: "SF UI";
}
.project__form__text-area {
  height: 35vh;
  color: var(--firstColor);
  background-color: var(--secondColor);
  border: solid 2px var(--firstColor);
  border-radius: 0.5vw;
  padding: 0.5vw;
}
.project__form__input:focus {
  outline: 3px solid var(--fourthColor);
  border: none;
}

.project__form__button {
  padding: 0.3rem 0.5rem;
  color: var(--firstColor);
  background: var(--secondColor);
  border: 2px solid var(--firstColor);
  border-radius: 5px;
  min-width: fit-content;
  width: 30%;
  align-self: center;
}
.project__form__button:hover {
  color: var(--thirdColor);
  background: var(--fourthColor);
  border: none;
  cursor: pointer;
}

.project__form__file__input::file-selector-button {
  width: fit-content;
  margin: 0 auto;
  color: var(--firstColor);
  border: solid 0.2vw var(--firstColor);
  border-radius: 1vw;
  padding: 0.5vw;
  cursor: pointer;
}
.project__form__file__input::file-selector-button {
  margin-right: 1vw;
  font-family: var(--thirdFont);
}
.project__form__file__input {
  width: 100%;
}
.project__form .project__card {
  border-top: solid 1vw var(--fourthColor);
  border-bottom: solid 1vw var(--fourthColor);
  margin: 2vw 0;
  width: 100%;
}
