.project__card {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 24vw;
  overflow: hidden;
  text-align: center;
  font-size: 1.5vw;
  background-color: var(--secondColor);
  color: var(--firstColor);
}
.project__card__title {
  color: var(--fourthColor);
}
.project__card:nth-child(odd) {
  background-color: var(--fourthColor);
  color: var(--thirdColor);
}
.project__card:nth-child(odd) .project__card__title {
  color: var(--secondColor);
}
.project__card__info {
  width: 60%;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__card__img {
  border-radius: 0.5vw;
  margin: auto 7vw;
  aspect-ratio: 1.5;
  width: 30%;
  transition: all 0.3s ease-in-out;
}
.project__card:hover .project__card__img {
  scale: 1.1;
  box-shadow: 0px 0px 15px var(--firstColor);
}
.tag__container {
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
}
.project__card:nth-child(odd) .tag {
  color: var(--firstColor);
  background-color: var(--secondColor);
  border: solid 0.2vw var(--thirdColor);
}

@media screen and (max-width: 650px) {
  .project__card {
    flex-direction: column;
  }
  .project__card__img {
    width: 60%;
    margin: 3vw auto;
    border-radius: 2vw;
  }
  .project__card__info {
    width: 100%;
    padding: 2vw;
    margin: 0;
  }

  .tag__container {
    margin-top: 2vw;
  }
  .project__card .links__a {
    margin: auto;
  }
  .project__card .links__icon {
    width: 3vw;
  }
}
