.connexion__icon {
  width: 3vw;
}
.connexionLink__button {
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 5;
  cursor: pointer;
  border: none;
}
